@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #ffe;
}

main {
    width: 940px;
    margin: auto;
}

header {
    width: 940px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    margin-right: auto;
}




