@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 8px auto;
}

section {
    padding-bottom: 8px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: #111;
    line-height: 34px; 
}

h2 {
    font-size: 20px;
    font-weight: 700;
    color: #111;
    line-height: 30px; 
}

section p {
    font-size: 18px;
    color: #444;
    line-height: 28px;
    margin: 32px 0;
}